html,
body {
    height: 100%;
}

body {
    background: #fcfcfc;
    background-attachment: fixed;
    color: rgb(93, 96, 107);
    font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

.navbar {
    border: none;
    border-bottom: 4px solid #317bcf;
    background: #fff;
}

.navbar-toggle {
    background: #317bcf;
}

.navbar-default .navbar-nav>li>a {
    color: #494949;
}

.navbar-brand {
    display: inline-block;
    margin-left: 15px !important;
    height: 50px;
    line-height: 50px;
    width: 220px;
    background: url(../img/logo.png) left center no-repeat;
    text-indent: -99999em;
}

.navbar .navbar-nav>li>a,
.navbar-brand {
    text-shadow: none
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}

.github-edit {
    position: relative;
    top: 60px;
    z-index: 9;
}

body > div.container {
    min-height: 80%;
}

ul.nav li.main {
    font-weight: bold;
}

div.col-md-3 {
    padding-left: 0;
}

div.col-md-9 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

h1,
h2,
h3 {
    color: #444;
}

h1 {
    font-weight: 400;
    font-size: 42px;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

hr {
    border-top: 1px solid #aaa;
}

pre,
.rst-content tt {
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    color: #e74c3c;
    overflow-x: auto;
}

code.code-large,
.rst-content tt.code-large {
    font-size: 90%;
}

code {
    padding: 2px 5px;
    color: #c7254e;
    background-color: #f9f2f4;
    font-size: 75%;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 12px !important;
}

footer {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
}

.modal-dialog {
    margin-top: 60px;
}
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */
/* By default it's not affixed in mobile views, so undo that */

.font-16 {
    font-size: 16px;
}

.mb-100 {
    margin-bottom: 100px
}

.one-fifth {
    width: 20%;
}

.doc-link,
.doc-link:hover,
.doc-link:active,
.doc-link:focus {
    color: #666;
    text-decoration: none;
}

.doc-link:hover {
    color: #317bcf;
}

.doc-link:hover .doc-section {
    box-shadow: 0 0 3px #ddd inset;
}

.doc-section {
    text-align: center;
    display: block;
    text-decoration: none;
    background: #f2f2f2;
    padding: 35px 15px;
    margin: 15px;
}

.doc-section-icon span {
    font-size: 48px;
}

.doc-section-title {
    font-size: 16px;
    margin-top: 30px;
}

.content-home .main-title {
    margin: 50px auto;
}

.content-body {
    padding-left: 20px;
    border-left: 1px solid rgba(93, 96, 107, .15);
}

.content-body h1 {
    display: block !important;
    font-size: 30px;
    font-weight: 400;
    color: rgb(93, 96, 107);
    line-height: 1.33;
    margin-bottom: 8px;
    margin-top: 6px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(93, 96, 107, .15)
}

.content-body h2 {
    font-size: 24px;
    line-height: 1.7;
    font-weight: 500;
    color: #3E8CE4;
}

.content-body h3 {
    font-size: 20px;
    font-weight: 400;
    color: #3E8CE4;
    line-height: 1.7;
    /*background: #E4F0FD;*/
    /*padding-left: 10px;*/
    /*margin: 20px 0 10px -20px;*/
    /*border-left: 2px solid #3E8CE4;*/
}

.content-body hr {
    display: none;
    border-color: #ececec;
}

.content-body img {
    max-width: 100%;
    display: block;
    padding: 4px;
    line-height: 1.428571429;
    margin: 20px 0;
}

.content-body blockquote {
    border-left: 2px solid #3E8CE4;
    padding: 4px 10px;
    background: #f6f6f6;
}

.content-body blockquote p {
    font-size: 12px;
    line-height: 1.75;
}

.content-body table {
    border: 1px solid #dddddd;
    width: 100%;
    margin-bottom: 18px;
    border-collapse: collapse;
    border-spacing: 0;
}

.content-body table th {
    background: #eee;
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border: 1px solid #dddddd;
}

.content-body table td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border: 1px solid #dddddd;
}

.content-body ul {
    padding: 10px 0px 10px 20px;
    list-style-position: inherit;
    list-style: circle;
}

.content-body ul li {
    padding-bottom: 5px;
}
/* First level of nav */

.bs-sidenav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
/* All levels of nav */

.bs-sidbar .nav li {
    margin-bottom: 6px;
}

.bs-sidebar .nav > li > a {
    display: block;
    padding: 2px 8px;
    border-left: 2px solid transparent;
}

.bs-sidebar .nav .nav li a {
    color: #555;
}

.bs-sidebar>.nav>li>a {
    margin-bottom: 6px;
}

.bs-sidebar>.nav>li>a,
.bs-sidebar .nav .nav .active a {
    color: #3E8CE4;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    color: #3E8CE4;
    background: transparent;
}

.bs-sidebar>.nav>li.active>a,
.bs-sidebar>.nav>li>a:hover {
    background: #E4F0FD;
    border-color: #3E8CE4;
}

.bs-sidebar .nav > .active .nav {
    display: block;
}
/* Nav: second level (shown on .active) */

.bs-sidebar .nav .nav {
    display: none;
    /* Hide by default, but at >768px, show it */
    
    margin-bottom: 4px;
}

.bs-sidebar .nav .nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    font-size: 100%;
}

.bs-sidebar .nav .nav .nav {
    display: none;
}
/* Show and affix the side nav when space allows it */

.footer {
    border-top: 1px solid #dedede;
    padding-top: 15px;
}

.footer a {
    color: #999;
}

@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed;
        /* Undo the static from mobile first approach */
        
        top: 10px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute;
        /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

@media (max-width: 768px) {
    .one-fifth {
        width: 100%;
    }
    .affix{
        position: static!important;
    }
    .github-edit{
        display: none;
    }
}
