{
    "swagger": "2.0",
    "info": {
        "description": "SendCloud 测试平台",
        "version": "1.0.0",
        "title": "SendCloud testApi"
    },
    "host": "sendcloud.sohu.com",
    "basePath": "",
    "tags": [{
        "name": "mail",
        "description": "mail"
    }, {
        "name": "sms",
        "description": "sms"
    }],
    "schemes": [
        "http"
    ],
    "paths": {
        "/testapi/mail.send.json": {
            "get": {
                "tags": [
                    "mail"
                ],
                "summary": "测试普通发送",
                "description": "测试普通发送，返回格式为JSON，to地址为true@xxx.com时发送成功，to地址为false@xxx.com时发送失败。use_maillist为true时，邮件列表必须为xx@maillist.sendcloud.org。",
                "operationId": "mail.send.json.get",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                },
                "parameters": [{
                    "name": "api_user",
                    "in": "query",
                    "description": "api_user",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_user"
                }, {
                    "name": "api_key",
                    "in": "query",
                    "description": "api_key",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_key"
                }, {
                    "name": "from",
                    "in": "query",
                    "description": "发件人地址",
                    "type": "string",
                    "required": true,
                    "default": "service@sendcloud.im"
                }, {
                    "name": "to",
                    "in": "query",
                    "description": "收件人地址",
                    "type": "string",
                    "required": true,
                    "default": "true@sendcloud.com"
                }, {
                    "name": "subject",
                    "in": "query",
                    "description": "主题",
                    "type": "string",
                    "required": true,
                    "default": "来自sendcloud的测试邮件"
                }, {
                    "name": "html",
                    "in": "query",
                    "description": "邮件内容",
                    "type": "string",
                    "required": true,
                    "default": "欢迎使用sendcloud"
                }, {
                    "name": "fromname",
                    "in": "query",
                    "description": "发件人名称",
                    "type": "string",
                    "defalut": "testsendcloud"
                }, {
                    "name": "bcc",
                    "in": "query",
                    "description": "密送地址. ",
                    "type": "string"
                }, {
                    "name": "cc",
                    "in": "query",
                    "description": "抄送地址. ",
                    "type": "string"
                }, {
                    "name": "reply_to",
                    "in": "query",
                    "description": "默认的回复邮件地址.",
                    "type": "string"
                }, {
                    "name": "headers",
                    "in": "query",
                    "description": "邮件头部信息. JSON 格式",
                    "type": "string"
                }, {
                    "name": "label",
                    "in": "query",
                    "description": "本次发送所使用的标签ID",
                    "type": "string"
                }, {
                    "name": "x_smtpapi",
                    "in": "query",
                    "description": "SMTP 扩展字段",
                    "type": "string"
                }, {
                    "name": "resp_email_id",
                    "in": "query",
                    "description": "是否返回 emailId.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "use_maillist",
                    "in": "query",
                    "description": "参数 to 是否含有地址列表.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "gzip_compress",
                    "in": "query",
                    "description": "邮件内容是否使用gzip压缩. 默认不使用 gzip 压缩正文",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }]
            },
            "post": {
                "tags": [
                    "mail"
                ],
                "summary": "测试普通发送",
                "description": "测试普通发送，返回格式为JSON，to地址为true@xxx.com时发送成功，to地址为false@xxx.com时发送失败。use_maillist为true时，邮件列表必须为xx@maillist.sendcloud.org。",
                "operationId": "mail.send.json.post",
                "consumes": ["application/x-www-form-urlencoded"],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                },
                "parameters": [{
                    "name": "api_user",
                    "in": "formData",
                    "description": "api_user",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_user"
                }, {
                    "name": "api_key",
                    "in": "formData",
                    "description": "api_key",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_key"
                }, {
                    "name": "from",
                    "in": "formData",
                    "description": "发件人地址",
                    "type": "string",
                    "required": true,
                    "default": "service@sendcloud.im"
                }, {
                    "name": "to",
                    "in": "formData",
                    "description": "收件人地址",
                    "type": "string",
                    "required": true,
                    "default": "true@sendcloud.com"
                }, {
                    "name": "subject",
                    "in": "formData",
                    "description": "主题",
                    "type": "string",
                    "required": true,
                    "default": "来自sendcloud的测试邮件"
                }, {
                    "name": "html",
                    "in": "formData",
                    "description": "邮件内容",
                    "type": "string",
                    "required": true,
                    "default": "欢迎使用sendcloud"
                }, {
                    "name": "fromname",
                    "in": "formData",
                    "description": "发件人名称",
                    "type": "string",
                    "defalut": "testsendcloud"
                }, {
                    "name": "bcc",
                    "in": "formData",
                    "description": "密送地址. ",
                    "type": "string"
                }, {
                    "name": "cc",
                    "in": "formData",
                    "description": "抄送地址. ",
                    "type": "string"
                }, {
                    "name": "reply_to",
                    "in": "formData",
                    "description": "默认的回复邮件地址.",
                    "type": "string"
                }, {
                    "name": "headers",
                    "in": "formData",
                    "description": "邮件头部信息. JSON 格式",
                    "type": "string"
                }, {
                    "name": "label",
                    "in": "formData",
                    "description": "本次发送所使用的标签ID",
                    "type": "string"
                }, {
                    "name": "x_smtpapi",
                    "in": "formData",
                    "description": "SMTP 扩展字段",
                    "type": "string"
                }, {
                    "name": "resp_email_id",
                    "in": "formData",
                    "description": "是否返回 emailId.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "use_maillist",
                    "in": "formData",
                    "description": "参数 to 是否含有地址列表.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "gzip_compress",
                    "in": "formData",
                    "description": "邮件内容是否使用gzip压缩. 默认不使用 gzip 压缩正文",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }]
            }
        },
        "/testapi/mail.send.xml": {
            "get": {
                "tags": [
                    "mail"
                ],
                "summary": "测试普通发送",
                "description": "测试普通发送，返回格式为XML，to地址为true@xxx.com时发送成功，to地址为false@xxx.com时发送失败。use_maillist为true时，邮件列表必须为xx@maillist.sendcloud.org。",
                "operationId": "mail.send.xml.get",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                },
                "parameters": [{
                    "name": "api_user",
                    "in": "query",
                    "description": "api_user",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_user"
                }, {
                    "name": "api_key",
                    "in": "query",
                    "description": "api_key",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_key"
                }, {
                    "name": "from",
                    "in": "query",
                    "description": "发件人地址",
                    "type": "string",
                    "required": true,
                    "default": "service@sendcloud.im"
                }, {
                    "name": "to",
                    "in": "query",
                    "description": "收件人地址",
                    "type": "string",
                    "required": true,
                    "default": "true@sendcloud.com"
                }, {
                    "name": "subject",
                    "in": "query",
                    "description": "主题",
                    "type": "string",
                    "required": true,
                    "default": "来自sendcloud的测试邮件"
                }, {
                    "name": "html",
                    "in": "query",
                    "description": "邮件内容",
                    "type": "string",
                    "required": true,
                    "default": "欢迎使用sendcloud"
                }, {
                    "name": "fromname",
                    "in": "query",
                    "description": "发件人名称",
                    "type": "string",
                    "defalut": "testsendcloud"
                }, {
                    "name": "bcc",
                    "in": "query",
                    "description": "密送地址. ",
                    "type": "string"
                }, {
                    "name": "cc",
                    "in": "query",
                    "description": "抄送地址. ",
                    "type": "string"
                }, {
                    "name": "reply_to",
                    "in": "query",
                    "description": "默认的回复邮件地址.",
                    "type": "string"
                }, {
                    "name": "headers",
                    "in": "query",
                    "description": "邮件头部信息. JSON 格式",
                    "type": "string"
                }, {
                    "name": "label",
                    "in": "query",
                    "description": "本次发送所使用的标签ID",
                    "type": "string"
                }, {
                    "name": "x_smtpapi",
                    "in": "query",
                    "description": "SMTP 扩展字段",
                    "type": "string"
                }, {
                    "name": "resp_email_id",
                    "in": "query",
                    "description": "是否返回 emailId.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "use_maillist",
                    "in": "query",
                    "description": "参数 to 是否含有地址列表.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "gzip_compress",
                    "in": "query",
                    "description": "邮件内容是否使用gzip压缩. 默认不使用 gzip 压缩正文",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }]
            },
            "post": {
                "tags": [
                    "mail"
                ],
                "summary": "测试普通发送",
                "description": "测试普通发送，返回格式为XML，to地址为true@xxx.com时发送成功，to地址为false@xxx.com时发送失败。use_maillist为true时，邮件列表必须为xx@maillist.sendcloud.org。",
                "operationId": "mail.send.xml.post",
                "consumes": ["application/x-www-form-urlencoded"],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                },
                "parameters": [{
                    "name": "api_user",
                    "in": "formData",
                    "description": "api_user",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_user"
                }, {
                    "name": "api_key",
                    "in": "formData",
                    "description": "api_key",
                    "type": "string",
                    "required": true,
                    "default": "test_sendcloud_api_key"
                }, {
                    "name": "from",
                    "in": "formData",
                    "description": "发件人地址",
                    "type": "string",
                    "required": true,
                    "default": "service@sendcloud.im"
                }, {
                    "name": "to",
                    "in": "formData",
                    "description": "收件人地址",
                    "type": "string",
                    "required": true,
                    "default": "true@sendcloud.com"
                }, {
                    "name": "subject",
                    "in": "formData",
                    "description": "主题",
                    "type": "string",
                    "required": true,
                    "default": "来自sendcloud的测试邮件"
                }, {
                    "name": "html",
                    "in": "formData",
                    "description": "邮件内容",
                    "type": "string",
                    "required": true,
                    "default": "欢迎使用sendcloud"
                }, {
                    "name": "fromname",
                    "in": "formData",
                    "description": "发件人名称",
                    "type": "string",
                    "defalut": "testsendcloud"
                }, {
                    "name": "bcc",
                    "in": "formData",
                    "description": "密送地址. ",
                    "type": "string"
                }, {
                    "name": "cc",
                    "in": "formData",
                    "description": "抄送地址. ",
                    "type": "string"
                }, {
                    "name": "reply_to",
                    "in": "formData",
                    "description": "默认的回复邮件地址.",
                    "type": "string"
                }, {
                    "name": "headers",
                    "in": "formData",
                    "description": "邮件头部信息. JSON 格式",
                    "type": "string"
                }, {
                    "name": "label",
                    "in": "formData",
                    "description": "本次发送所使用的标签ID",
                    "type": "string"
                }, {
                    "name": "x_smtpapi",
                    "in": "formData",
                    "description": "SMTP 扩展字段",
                    "type": "string"
                }, {
                    "name": "resp_email_id",
                    "in": "formData",
                    "description": "是否返回 emailId.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "use_maillist",
                    "in": "formData",
                    "description": "参数 to 是否含有地址列表.",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }, {
                    "name": "gzip_compress",
                    "in": "formData",
                    "description": "邮件内容是否使用gzip压缩. 默认不使用 gzip 压缩正文",
                    "required": false,
                    "type": "string",
                    "default": "false",
                    "enum": [
                        "true",
                        "false"
                    ]
                }]
            }
        },
        "/testsmsapi/send": {
            "post": {
                "tags": ["sms"],
                "summary": "测试短信发送",
                "description": "发送单条短信",
                "operationId": "sms.send.post",
                "consumes": ["application/x-www-form-urlencoded"],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                },
                "parameters": [{
                    "name": "smsUser",
                    "in": "formData",
                    "required": true,
                    "description": "子账号",
                    "default": "test_sendcloud_sms_user",
                    "type": "string"
                }, {
                    "name": "templateId",
                    "in": "formData",
                    "required": true,
                    "description": "模板ID",
                    "default": "1",
                    "type": "int"
                }, {
                    "name": "phone",
                    "in": "formData",
                    "required": true,
                    "description": "电话号码",
                    "default": "18888888888",
                    "type": "string"
                }, {
                    "name": "vars",
                    "in": "formData",
                    "required": false,
                    "description": "替换变量的json串",
                    "type": "string"
                }, {
                    "name": "timestamp",
                    "in": "formData",
                    "required": false,
                    "description": "UNIX时间戳",
                    "type": "string"
                }]
            }
        },
        "/testsmsapi/sendn": {
            "post": {
                "tags": ["sms"],
                "summary": "测试多条短信发送",
                "description": "发送多条短信发送",
                "operationId": "sms.sendn.post",
                "consumes": ["application/x-www-form-urlencoded"],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                },
                "parameters": [{
                    "name": "smsUser",
                    "in": "formData",
                    "required": true,
                    "description": "子账号",
                    "default": "test_sendcloud_sms_user",
                    "type": "string"
                }, {
                    "name": "templateId",
                    "in": "formData",
                    "required": true,
                    "description": "模板ID",
                    "default": "1",
                    "type": "int"
                }, {
                    "name": "tos",
                    "in": "formData",
                    "required": true,
                    "description": "手机号和替换变量对应的json串",
                    "default": "[{\"phone\": \"13111111111\", \"vars\": {\"%name%\": \"name1\"}}, {\"phone\": \"13122222222\", \"vars\": {\"%name%\": \"name2\"}}]",
                    "type": "string"
                }, {
                    "name": "timestamp",
                    "in": "formData",
                    "required": false,
                    "description": "UNIX时间戳",
                    "type": "string"
                }]
            }
        }
    }
}
